.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.nav {
  display: flex;
  flex-direction: row ;
}

ul {
  list-style-type: none;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.feeling,
.understanding
.comment,
.support{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
    text-shadow: 5px 5px #434242;
    margin-top: 0px;
    font-weight: 800px;
    font-family: 'Oswald', sans-serif;
}

